# Node.js
server/node_modules/
npm-debug.log
yarn-error.log
server/.env

# Python
server/python-services/venv/
__pycache__/
*.py[cod]
*$py.class

# Android
.gradle/
mobile/build/
mobile/local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
